<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602724076112-ns5l2rat9g5p5ghbk3lkspaggra7uog0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602724076112-ns5l2rat9g5p5ghbk3lkspaggra7uog0</string>
	<key>API_KEY</key>
	<string>AIzaSyA0gaaex-0USwDmp4uqANQGf0cvJAQm6LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>602724076112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omar.ChatAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftuichatapp-da588</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichatapp-da588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602724076112:ios:d79ca77d7d2198a3c91f55</string>
</dict>
</plist>